@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* change html with data-theme="dark" */
@theme {
  --color-primary: oklch(0.6576 0.1912 37.56);
  --color-background-light: oklch(0.9747 0.0021 17.19);
  --color-background-dark: oklch(0.2113 0.0236 41.91);
  --color-blackCustom: oklch(0.1921 0.0092 43.03);
  --color-card-dark: oklch(0.2659 0.0221 42.02);
  --animate-scale-in: scale-in 0.2s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.body {
  min-height: max(884px, 100dvh);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

/* Keyframes */
@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
